.authContainer {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    background-color: #000000;
}

.formContainer {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.authHeader {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

.authText {
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(133, 133, 152);
    line-height: 1.7;
    margin-bottom: 20px;
}

.authTextInput {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(133, 133, 152);
    line-height: 1.7;
    text-align: left;
    margin-bottom: 18px;
    padding-left: 10px;
    text-align: center;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
}

.label {
    display: block;
    margin-bottom: 20px;
}

.label p {
    margin: 0 0 10px 0;
}

.input {
    border: 0;
    font-family: "Montserrat", sans-serif;
    color: rgb(166, 171, 185);
    padding: 0 20px;
    display: block;
    width: 300px;
    height: 40px;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    margin: 20px auto;
    background-color: #e9e9e9da;
    text-align: center;
}

.input::placeholder {
    color: rgb(99, 99, 112);
}

.input:focus {
    border: 1px solid#4040af;
    box-shadow: none;
    outline: none;
}

.btn {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    font-weight: 700;
    color: #fff;
    border: 2px solid #c0c0c0;
    background-color: rgb(42, 54, 38);
    box-shadow: 0px 4px 6px 0px rgba(49, 44, 44, 0.15);
    width: 300px;
    height: 40px;
}

.btn:hover {
    background-color: rgba(32, 32, 68, 0.9);
    transition: 0.5s;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
}

.contactButt {
    width: 30px;
    height: 30px;
    background-color: brown;
}

.mobimg {
    width: 35%;
    height: 90%;
    margin-right: 80px;
}

.plogo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

.linkLogo {
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    color: rgb(133, 133, 152);
    cursor: pointer;
    text-decoration: none;
}

.logoimg {
    width: 45px;
    height: 45px;
    margin-left: 14px;
}

.form {
    width: 400px;
    padding: 30px 30px;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 12px 2px #fffefe;
    margin-bottom: 60px;
    margin-top: 50px;
    background-color: #1f1f1f;
    border-radius: 8px;
}

.navlink {
    text-decoration: none;
}